@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.Weather {
  text-align: center;
  background-color: #e0e1dd;
  height: 100vh;
  transition: background-color 1s ease, color 1s ease;
}
.clock {
  padding-bottom: 10px;
}
.card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
}
.right_panel img {
  width: 250px;
  height: auto;
}
.right_panel {
  border: 1px solid #d3d3d3;
  border-radius: 20px;
}
.right_top {
  margin-top: 15px;
  margin-bottom: 0px !important;
  font-weight: bold;
}
.big_temp {
  font-size: 3.5rem;
}
.weather_row > div > span {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Weather.day {
  background: linear-gradient(to bottom, #87ceeb, #ffffff); /* light blue sky */
  color: #000;
}
.Weather.night {
  background: linear-gradient(
    180deg,
    rgba(26, 26, 64, 1) 0%,
    rgba(43, 55, 181, 1) 100%,
    rgba(26, 26, 64, 1) 100%
  ); /* deep blue/purple */
  color: #f0f0f0;
}
.icon-sm {
  width: 50px;
  height: 50px;
}
.mini_area {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.mini_area > .row {
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
}
.mini_area > div > div > p {
  margin-bottom: 0px !important;
}
.mybtn
{
  
}